/*colors we are using in the website
#FF4E00
#1cb0f6
#FFF3DD,  
#011627, (2) #291900, #031d44
#ffd700, #F7B801, #f7cb15
#00b295, (1) #00C49A 
*/

html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFBF2;
    overflow-x: hidden;
}

h2 {
margin-bottom: 2vw;
    font-size: 3vw;
    color: #011627;
    font-family: "Spectral", serif;
    text-align: center;
}

section {
    padding: 40px 0;
}

@media (max-width: 1024px) {
    h2 {
        font-size: 4vw;

    }

    section {
        padding: 20px 0;
        height: auto;
    }
    
}


/* Hero Background */
.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://d11n2py6p6cfxh.cloudfront.net/Untitled_design_2_19092c7ee3.svg");
    background-size: cover;
    background-position: center center !important;
    background-repeat: no-repeat;
    z-index: 1; /* Ensure the background stays behind content */
    transition: transform 0.1s ease-out;
}

/* Hero Section */
.hero-section {
    position: relative;
    background-color: #fff3dd;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #011627;
    overflow: hidden; /* To hide any overflow from the background moving */
    padding: 0 20px; /* Add padding to avoid content touching edges on small screens */
}


.hero-content {
    position: relative;
    z-index: 1;
    max-width: 100%;
    color: #011627;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    font-family: "Holtwood One SC", serif;
    margin-top: -25vh;
}

.hero-content h1 {
    font-size: 6vw;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    color:#ffd700;
    line-height: 1;
    z-index: 2;
    /*make outline text*/
     text-shadow: -1px -1px 0 #011627, 1px -1px 0 #011627, -1px 1px 0 #011627, 1px 1px 0 #011627,
                 2px 2px 5px rgba(0, 0, 0, 0.5); /* Subtle shadow */
}

.hero-subtext {
    font-size: 1.5vw;
    color: #011627;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 20px; /* Spacing below the subtext */
    line-height: 1;
    background-color: #ffd700;
    /*size of the container should be equal to the size of the text*/
    display: block;
    width:auto;
    align-self: center;
    z-index: 1;
}

/* Keyframe for Slide-Up Animation */
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Keyframe for Slide-Down Animation */
@keyframes slideDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(40px);
    }
}
/* Initial state for hero-description */
.hero-description {
    opacity: 0; /* Start as invisible */
    transform: translateY(20px); /* Start slightly below */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth transition */
    color: #fff3dd;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 1.2vw;
    background-color: #01162750;
    width: auto;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10vh; /* Adjust margin to space between text and button */
    position: relative;
    z-index: 1;
    max-width: 40%;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    /*blur the background*/
    /*backdrop-filter: blur(3px);*/
}

/* Class to trigger the slide-up animation */
.hero-description.visible {
    animation: slideUp 0.6s ease-out forwards; /* Slide up and fade in */
}

/* Apply the slide-down when leaving view */
.hero-description.fade-out {
    opacity: 0;
    transform: translateY(20px);
}
/*hero-description marquee effect ribbon*/
.marquee {
    position: absolute;
    top: 35vh;
    z-index: 0; /* Marquee is below both content and background */
    overflow: hidden;
}
 .marquee h2 {
    white-space: nowrap;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    color: #fff3dd;
    background:
      #011627 !important;
    -webkit-background-clip: text;
    font-size: 1.2vw;
    font-weight: 600;
    letter-spacing: 0.25vw;
    padding-right: 30px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    transform: translateX(0);
    animation: scrolling-text 35s linear infinite;
}

@keyframes scrolling-text {
  to { transform: translateX(-100%); }
}

/* CSS */
.button-19 {
  appearance: button;
  background-color: #e24400;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4vw;
  line-height: 20px;
  margin-top: 40px;
  outline: none;
  overflow: visible;
  padding: 1.2vw 1vw;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 50%;
  margin: 4vh 4vh;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 0.05em;
  animation: jelly 0.6s;
  font-family: "Spectral", serif;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #ff4e00;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}

@keyframes jelly {
    0%,
    100% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1.25, 0.75);
    }
    50% {
        transform: scale(0.75, 1.25);
    }
    75% {
        transform: scale(1.15, 0.85);
    }
}


/* Keyframe Animation */
@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@media (max-width: 1024px) {
    .hero-section {
        height: 60vh;
    }
    .hero-content h1 {
        font-size: 9vw;
        margin-top: 4vh;
    }
    .hero-subtext {
        font-size: 3vw;
    }

    .hero-description {
        font-size: 2.5vw;
        margin-top: 4vw;
    }

    
    .button-19 {
        font-size: 3vw;
        margin: 1.5vw 1vw;
    }

}
@media (max-width: 768px) {
    .hero-section {
        height: 60vh;
    }
    .hero-content {
        margin-top: -25vw;
    }
    .hero-content h1 {
        font-size: 10vw;
    }

    .hero-subtext {
        font-size: 3.5vw;
    }

    .hero-description {
        font-size: 3vw;
        margin-top: 4vw;
        font-weight: 300;
        color: #fffbf2;
    }

    
    .button-19 {
        font-size: 3vw;
        margin: 1.5vw 1vw;
    }
}


/*introsection*/
.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #011627;
    padding: 0px;
}
/*hide on phone*/
@media (max-width: 1024px) {
    .carousel-container {
        display: none !important;
    }
    
}
@media (max-width: 768px) {
    .carousel-container {
        display: none !important;
    }
    
    
}
/*
.carousel-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(41, 25, 0, 0.8) 40%, #011627 100%);
    transform: translate(-40%, -50%);
    z-index: 0;
    pointer-events: none; 
}*/

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    color: #1899D6;
}

.carousel-dots {
    position: relative;
    /*shift the dots a bit upwards*/
    top: -2vw;
    display: flex;
    justify-content: center;
    margin: 0.4vw 0.2vw;
    margin-left: 10px;
    margin-right: 10px;
}

.carousel-dots .carousel-one-dot {
    width: 8px;
    height: 8px;
    margin: 0px 5px;
    padding: 2px;
    background-color: #fff3dd; /* Inactive dot color */
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-dots .carousel-one-dot.active {
    background-color: #FF4E00; /* Active dot color */
}

.slide {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
}

/*.slide:before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 0.02;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}*/


.introsection {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 100%;
}

.intro-text-card {
    flex: 1;
    padding: 20px 0px;
    color: #fff;
    text-align: left !important;
    font-family: "Arsenal", sans-serif;
}

.intro-image {
    flex: 1;
    text-align: center;
}

.intro-image svg image{
    /*add a subtle shadow to the image*/
    box-shadow: 10px 5px 2px #FF4E002e;
}

/*.intro-text-card h2 {
    font-family: "Karla", sans-serif;
    color: #fffbf2;
     
    font-weight: 400;
    /*left align the text
    
}
*/
.intro-text-card h2{
    border-radius: 10px;
    animation-delay: 1s;
    padding: 50px 50px;
    margin: 20px 50px;
    border-radius: 10px;
    /*background-color: #011627;*/
    padding: 5px;
    color: #fff3dd;
    opacity: 1;
    transform: translateX(0%);
    animation: slideIn 1s backwards;
    font-weight: 100 !important;
    word-spacing: 0.1em;
    letter-spacing: 0.01em;
    font-size: 1.6vw;
    line-height: 1.5em;
    font-family: "Spectral", serif;
    text-align: left !important;
}
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.crousel-btn:hover {
  transform: scale(1.2);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carousel-btn:hover svg {
   
    transform: scale(1.2);

}

.carousel-btn svg {
    width: 100%;
    height: 100%;
    fill: none;
    transition: transform 0.3s ease-in-out;
}

.hero-text-container {
    position: relative;
    translate: transformX(-50%);
    text-align: center;
}

.intro-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    height: 50vh;
    position: relative;
    overflow: hidden;
    font-size: small;
}

.photo-card {
    animation-delay: 0.5s;
    transform: translateX(-100%);
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
 .intro-image {
      height: auto;
  }

  .intro-image svg {
    filter: drop-shadow(15px 10px 7px #0000002e);
  }

  .section-subheader {
      font-size: 32px;
      font-family: 'Alegreya-Medium', serif;
  }
  .divider {
      display: block;
      margin: 20px auto;
  }
  .text-align-justify {
      text-align: justify;
  }
  .text-align-center {
      text-align: center;
  }
  .mx-auto {
      margin-left: auto;
      margin-right: auto;
  }
  .event-highlights .video-ofthe-day .subscribe-btn a{
      text-align: center;
      color: white !important;
      text-decoration-line: none !important;
  }

header {
background-color: #011627;
color: white;
padding: 10px 0;
}
/*Offering Section*/
.offering-section {
    text-align: center;
    padding: 25px 20px;
    overflow: hidden;
}

.offering-section h2 {
    margin-bottom: 2vw;
    font-size: 3vw;
    color: #011627;
    font-family: "Spectral", serif;
}

.card-container {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
max-width: 80vw;
margin: 20px auto;
padding: 0 20px;
}

.card {
border: 5px dashed #fffbf2;
border-radius: 5px;
width: 20vw;
margin: 2vw;
/*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
transition: transform 0.2s;
overflow: hidden;
position: relative;
}

.card:hover {
transform: scale(1.05);
}

.card-img-container {
width: 100%;
padding-top: 100%;
position: relative;
}

.card-img-top {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
transition: transform 0.2s;
}

.card:hover .card-img-top {
transform: scale(1.2);
}

.card-body {
padding: 0.2vw;
text-align: center;
}

.card-title {
font-size: 1.5vw;
margin-bottom: 0.2vw;
color: #FF4E00;
font-family: "Spectral", sans-serif;
font-weight: 1000;
}

.card-text {
font-size: 1vw;
margin-bottom: 0.2vw;
color: #011627;
font-family: "Karla", sans-serif;
}

.card-buttons {
display: flex;
justify-content: space-around;
}

.register-btn, .know-more-btn {
        margin: 5px;
display: inline-block;
padding: 10px 20px;
text-decoration: none;
border-radius: 5px;
font-size: 1vw;
font-family: "Karla", sans-serif;
}

.register-btn {
      background-color: #FF4E00;
      color: white !important;
      text-decoration: none;
      /*shadow for button*/
        box-shadow: 0 4px 8px #ff4d0070;
  }

.know-more-btn {
background-color: #1cb0f6;
color: white !important;
}

.register-btn:hover {
background-color: white;
color: #FF4E00 !important;
border-color: #FF4E00;
border-style: solid;
border-width: 1px;
}

.know-more-btn:hover {
background-color: white;
color: #1899D6 !important;
border-color: #1899D6;
border-style: solid;
border-width: 1px;
}

.cta-button-container {
    margin-top: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF4E00;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.cta-button:hover {
    background-color: #e09d00;
}

.offer-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px; /* Adjust the size as needed */
  z-index: 2; /* Ensure it appears on top */
}

.age-tag {
    /*centering the text*/
    display: inline-block;
    /*styling the text*/
    align-items: center;
    justify-content: center;
  background-color: #011627;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 0.8vw;
    font-weight: bold;
}

.age-tag i {
    margin-right: 5px;
}

.start-date {
  color: #011627;
  font-weight: bold;
  font-family: "Karla", sans-serif;
  border-radius: 3px;
  font-size: 0.8vw;
  margin: 10px 0;
  display: inline-block;
  margin-right: 0.1vw;
  margin-left:0.1vw;
}

.start-date i {
    margin-right: 5px;
    color: #00B295;
}

.mode {
  color: #011627;
  font-weight: bold;
  font-family: "Karla", sans-serif;
  border-radius: 3px;
  font-size: 0.8vw;
  margin: 10px 0;
  display: inline-block;
  margin-right: 0.1vw;
  margin-left: 0.1vw;
}

.mode i {
    color: #00B295;
    margin-right: 5px;
}

@media (max-width: 1024px) {
    .card {
        width: 40%;
    }
    .card-container {
        max-width: 90%;
        padding: 0 ;
    }
    
    .offering-section h2 {
        font-size: 5.5vw;
        padding: 0;
    }
    .card-title {
        font-size: 2.8vw;
    }
    .card-text {
        margin-top: 0;
    }

    .card-text, .start-date, .card-text, .mode, .age-tag{
        font-size: 1.8vw;
    }
    .register-btn, .know-more-btn {
        font-size: 2.2vw;
    }
    }
/* Responsive code for offering section */
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
  .card-img-top img {
    /*decrease the size of the image*/
    width: 90%;
    height: auto;
    align-content: center;
  } 
  

  .offering-section h2 {
    font-size: 7.5vw;
  }
  .card-body {
    padding: 0.5vw;
  }
  .card-title {
        font-size: 4.5vw;
        margin-top: 1.5vw;
    }
    .card-text {
        margin-top: 0;
    }

    .card-text, .start-date, .card-text, .mode, .age-tag {
        font-size: 3vw !important;
    }
    .register-btn, .know-more-btn {
        font-size: 3vw;
    }
}

/* Feature Section */
/* Base styles (desktop) */
/*---new--*/
/* Base styles (desktop) */
.features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 3vh 3vw;
  max-width: 90%;
  background-color: linear-gradient(90deg, #FFFBF2 50%, #FF4E00 50%) !important;
  border-radius: 15px;
  height: auto;
  overflow: hidden; /* Ensures no overflow */
}

.features-section h2 {
  text-align: center;
  font-size: 2.5vw;
  margin-bottom: 2vw;
  color: #011627;
  font-family: 'Spectral', serif;
  font-style: italic;
  font-weight: 300;
}

.feature-card-container {
  display: flex;
  flex-wrap:wrap;
  justify-content: center; /* Ensures cards are centered horizontally */
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.feature-card {
  background-color: #00b295;
  border: 2px solid transparent;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: 0 6px 12px rgba(2, 172, 144, 0.1);
  padding: 1vw;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out, background-color 0.4s ease-in-out;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  max-width: 250px;
  overflow: hidden; /* Avoid content overflow */
  transform-origin: center;
}

.feature-card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(2, 172, 144, 0.2);
  background-color: #ffd700;
  z-index: 10; /* Ensures it floats above other cards */
}

.feature-card:hover .feature-benefits {
  opacity: 1;
  position: relative;
}

.feature-card:hover .feature-icon {
  display: none !important;
}

.feature-card:hover .feature-subheading {
  color: #FF4E00;
}

.feature-icon {
  width: 80%;
  height: auto;
  margin: 0 auto 1rem auto;
}

.feature-heading {
  color: #011627;
  text-align: center;
  margin: 0;
  font-size: 1.5vw;
  font-family: "Spectral", sans-serif;
  font-weight: 1000;
}

.feature-subheading {
  font-size: 0.9vw;
  color: #fffbf2;
  margin-top: 5px;
  font-family: "Karla", sans-serif;
  text-align: center;
  margin-bottom: 0.2vw;
}

.feature-benefits {
  font-size: 0.8vw;
  color: #011627;
  line-height: 1.6;
  font-family: "Karla", sans-serif;
  justify-content: center;
  text-align: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.7s ease-in, opacity 0.01s ease-out, transform 0.3s ease;
}

/* For tablet screens (768px to 1024px) */
@media (max-width: 1024px) {
    .features-section {
        padding: 20px;
    }
    .features-section h2 {
    font-size: 6vw; /* Smaller heading for mobile */
  }
  .feature-card-container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Space between the cards */
  }

  .feature-card {
    width: 30%; /* Adjust card size for tablet */
  }
  .features-section {
    flex-direction: column;
  }
  .feature-heading {
    font-size: 2.5vw; /* Adjust heading font size */
    line-height: 1em;
  }

  .feature-subheading {
    font-size: 2vw; /* Adjust subheading font size */
  }

  .feature-benefits {
    font-size: 1.8vw; /* Adjust benefits text size */
  }

  .features-section h2 {
    font-size: 2.2em; /* Adjust heading size for tablets */
  }
}

/* Mobile (below 768px) */
@media (max-width: 768px) {
  .features-section {
    flex-direction: column; /* Stack cards vertically */
    /*align items in center*/
    align-items: center;
  }

  .feature-card {
    padding: 20px;
    width: 70%;
  }

  .features-section h2 {
    font-size: 6vw; /* Adjust section title size */
  }

  .feature-heading {
    font-size: 4vw; /* Larger heading for mobile */
  }

  .feature-subheading {
    font-size: 3vw; /* Larger subheading for mobile */
    font-weight: 600;
  }

  .feature-benefits {
    font-size: 2.5vw; /* Larger benefits text for mobile */
    
  }

  .feature-icon {
    width: 40%; /* Smaller icon size for mobile */
  }
  .feature-benefits {
    display: contents;
  }
}

/*benefits section*/
.benefits-carousel {
    background-color: #FFFBF2; /* Background color matching your theme */
    padding: 1vw 2.5vw;
    padding-bottom: 2vw;
    height: auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-top: 0;

}
.benefits-carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; /* Adjust this depending on the number of slides */
}

.benefits-carousel-slide {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-shrink: 0;
}

.benefits-carousel-item {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.benefits-carousel-item h2 {
    font-size: 4vw;
    color: #011627; /* Text color matching your theme */
    margin-bottom: 1vw;
    font-family: "Spectral", serif;
}

.benefits-carousel-item p {
    font-size: 1vw;
    color: #00B295; /* Accent color for the description */
    margin: 0;
    border-top: 1px dotted #011627; /* Dotted line as in the example */
    padding-top: 10px;
    font-family: "Karla", sans-serif;
}

.benefits-carousel-controls {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.benefits-carousel-controls .benefits-prev,
.benefits-carousel-controls .benefits-next {
    font-size: 2em;
    color: #FF4E00; /* Color for the control arrows */
    margin: 0 15px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.benefits-carousel-controls .benefits-prev:hover,
.benefits-carousel-controls .benefits-next:hover {
    color: #00B295; /* Hover color for the control arrows */
}

.benefits-carousel-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
}

.benefits-carousel-dots .benefits-dot {
    width: 8px;
    height: 8px;
    margin: 0 5px;
    background-color: #011627;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.benefits-carousel-dots .benefits-dot.active {
    background-color: #FF4E00; /* Active dot color */
}

@media (max-width: 1024px) {
    .benefits-carousel {
        height: auto;
        padding-bottom: 10vw;
    }
    .benefits-carousel-item h2 {
        font-size: 5vw;
    }

    .benefits-carousel-item p {
        font-size: 1.5vw;
    }
}
@media (max-width: 768px) {
    .benefits-carousel-item h2 {
        font-size: 8vw;
    }

    .benefits-carousel-item p {
        font-size: 2.5vw;
    }
}

/*Offline Centers*/


.offline-chapters-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  /*radial gradient with blury effect*/
  background: radial-gradient(circle, #1cb0f680 20%, #fffbf2 100%);
  background-blend-mode: color-burn;
    background-size: cover;
    background-position: center;
  gap: 20px;
}



.map-column {
  flex: 1;
  min-width: 60%;
  margin-right: 20px;
}

.map-box {
  background-color: #fffbf200;
  /*border: 2px solid #00B295;*/
  border-radius: 15px;
  padding: 20px;
  /*box-shadow: 0 6px 12px rgba(0, 178, 149, 0.2);*/
  overflow: hidden;
}

.map-box svg {
  width: 100%;
  height: auto;
}

.details-column {
  flex: 1;
  min-width: 30%;
}

.details-column h2 {
  font-size: 3vw;
  color: #011627;
  margin-bottom: 2vw;
  font-family: "Spectral", serif;
  text-align: left;
}

/* General Card Styling */
.center-card {
    background-color: #fffbf270;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Light divider line */

    border-radius: 10px;
    padding: 1vw;
    margin-bottom: 20px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
        box-shadow: -1px 3px rgba(0, 0, 0, 0.1); /* Shadow for depth */

    display: flex;
    justify-content: space-between; /* Spacing between content */
    align-items: center; /* Centers the button vertically */
}

.card-content {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Full width */
}

/* Left column: Heading, Location, and Contact */
.card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px; /* Space between content and button */
}

.center-card h3 {
    font-size: 1.5vw;
    color: #011627;
    margin: 0;
    line-height: 1.2;
    font-family: "Spectral", sans-serif;
font-weight: 1000;
}

/* Location and Contact Info */
.location-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.location-contact p {
    font-size: 1vw;
    font-family: "Karla", sans-serif;
    color: #011627;
    margin: 0 10px 0 0;
    display: flex;
    align-items: center;
}

.location-icon, .phone-icon {
    margin-right: 8px;
    color: #FF4E00;
}

/* Right column: Button */
.card-button {
    display: flex;
    align-items: center; /* Center the button vertically */
}

/* Responsive Design */
@media (max-width: 768px) {
    .center-card {
        flex-direction: column; /* Stack content vertically on mobile */
        align-items: flex-start;
    }
    .details-column h2{
        font-size: 7.5vw;
    }
    .card-header {
        margin-bottom: 10px;
    }

    .location-contact {
        flex-direction: column; /* Stack location and contact info vertically on smaller screens */
        align-items: flex-start;
    }

    .card-button {
        align-self: center;
        margin-top: 10px;
    }

    .know-more-btn {
        font-size: 2vw;
        padding: 8px 16px;
    }

    .center-card h3, .location-contact p {
        font-size: 4vw;
    }
}

@media (max-width: 1024px) {
  .offline-chapters-section {
    flex-direction: column;
    align-items: center;
  }

  .map-column, .details-column {
    max-width: 100%;
  }

  .details-column h2 {
    text-align: center;
    font-size: 5.5vw;
  }

  .center-card h3 {
    font-size: 2.8vw;
  }

  .center-card p {
    font-size: 1.8vw;
  }
}

@media (max-width: 768px) {
  .details-column h2 {
    font-size: 4.5vw;
  }

  .center-card h3 {
    font-size: 3.2vw;
  }

  .center-card p {
    font-size: 2vw;
  }
}

@media (max-width: 576px) {
  .map-column, .details-column {
    max-width: 100%;
  }

  .details-column h2 {
    font-size: 5.5vw;
  }

  .center-card h3 {
    font-size: 4vw;
  }

  .center-card p {
    font-size: 2.5vw;
  }
}


@media (max-width: 768px) {
  .details-column h2 {
    font-size: 4vw;
  }

  .center-card h3 {
    font-size: 3vw;
  }

  .center-card p {
    font-size: 2vw;
  }
}

@media (max-width: 576px) {
  .map-column, .details-column {
    max-width: 100%;
  }

  .details-column h2 {
    font-size: 5vw;
  }

  .center-card h3 {
    font-size: 4vw;
  }

  .center-card p {
    font-size: 2.5vw;
  }
}

#us-map {
    display: block;   
    width: 100%;
    height: 100%;
}

#details-box {
    box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.7);
    opacity: 0%;
    padding: 1rem;
    border-radius: 8px;
    font-size: 24px;
    position: fixed;
    color: white;
    font-family: "Poppins";
    background-color: black;
    width: fit-content;
    transform: translateX(-50%);
    transition: opacity .4s ease;
    z-index: 1;
}

.map-box path:hover {
    fill: #fad6c6 !important;
    cursor: pointer;
    transform: scale(1.005, 1.005);
}

path[data-id="TX"] {
    fill: #FF4E00 !important;
}

/*path[data-id="WA"] {
    fill: #FF4E00 !important;
}*/

path[data-id="NC"] {
    fill: #FF4E00 !important;
}
path[data-id="CA"] {
    fill: #FF4E00 !important;
    box-shadow: 0 0 10px 5px #FF4E00;
    color: #011627;
  }

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
/*old-gallery*/

.gallery-section {
  overflow: hidden;
  position: relative;
  width: 100%;
  text-align: center;
}

.gallery-section h2 {
  margin-bottom: 2vw;
  font-size: 3vw;
  color: #011627;
  font-family: "Spectral", serif;
}

.gallery-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300px;
  border: 5px solid #fffbf2;
  border-radius: 10px;
}

.gallery-track {
  display: flex;
  width: calc(100% * 2); /* Adjust the width to accommodate all items */
}

.gallery-item {
  flex: 0 0 auto;
  width: 250px; /* Set the width of each image */
  margin: 10px;
  transition: transform 0.3s;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}

/* Add hover effect for images */
.gallery-item:hover {
  transform: scale(1.05);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
    
    .gallery-section h2 {
        font-size: 5.5vw;
        padding: 0;
    }
}

@media (max-width: 768px) {
    
    .gallery-section h2 {
        font-size: 7.5vw;
        padding: 0;
    }
}

/*otherOfferings*/
.otherOfferings-section {
    overflow: hidden;
    position: relative;
    width: 90%;
    text-align: center;
    padding: 20px;
}

.otherOfferings-section h2 {
    margin-bottom: 2vw;
    font-size: 3vw;
    color: #011627;
    font-family: "Spectral", serif;
}

.class-links {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    flex-wrap: wrap; /* Allow images to wrap on smaller screens */
}

.class-link {
    max-width: 30%; /* Limit width to 30% on larger screens */
    display: inline-block;
    transition: transform 0.3s ease;
}

.class-link img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: rounded corners */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: shadow for better look */
}

.class-link:hover {
    transform: scale(1.05); /* Slight scale effect on hover */
}

@media (max-width: 1024px) {
    .class-link {
        max-width: 100%; /* Stack images vertically on mobile */
        margin-bottom: 20px;
    }

    .otherOfferings-section h2 {
        font-size: 5.5vw; /* Smaller font size for mobile */
    }
}
/* Tablet View (max-width: 768px) */
@media (max-width: 768px) {
    .class-link {
        max-width: 33%; /* Display two images per row on tablets */
    }

    .otherOfferings-section h2 {
        font-size: 7.5vw; /* Slightly smaller font size for tablets */
    }
}

/* Mobile View (max-width: 600px) */


/*Testimonial section*/

.testimonial-section {
    padding: 6vw;
    background-color: #FFFBF2;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

.testimonial-section h2 {
    font-size: 3vw;
    color: #011627;
    font-family: "Spectral", serif;
    margin-bottom: 2vw;
    text-align: center;
}

.testimonial-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.testimonial-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.testimonial-text-carousel {
    flex: 1;
    padding-right: 3vw;
    font-size: 1.2em;
    line-height: 1.6em;
    position: relative;
   /* overflow: hidden;*/
    height: 20vh; /*Fixed height for the carousel */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Center content vertically within each text box */
.testimonial-text-box {
    font-size: 1.2vw;
    color: #011627;
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    height: 100%; /* Ensures the box fills the parent height */
    text-align: center; /* Ensures text is centered */
}

.testimonial-text-box p {
    margin: 0;
}

.testimonial-text-box.active {
    opacity: 1;
}

.person-details {
    font-style: italic;
    margin-top: 2px;
    color: #011627a0;
    font-size: 0.8vw;
    font-weight: 900;
}
.testimonial-videos {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.video-thumbnail {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.video-wrapper {
    display: none;
}

.video-thumbnail:hover .video-wrapper {
    display: block;
}
.video-thumbnail img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}



/* Collage Layout */
.testimonial-collage {
    flex: 1;
}

.collage-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.collage-item {
    position: relative;
    /*overflow: hidden;*/
    border-radius: 10px;
}

/* Videos */
.collage-item.video iframe {
    width: 315px;
    height: 315px;
    border-radius: 15px; /* Rounding off video corners */
}

/* Images */
.collage-item.image svg {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
}

@media (max-width: 1024px) {
    
    .testimonial-section h2 {
        font-size: 5.5vw;
    }

    .testimonial-content {
        flex-direction: column;
    }
    .testimonial-text-carousel {
        padding-right: 0px;
        flex-direction: column;
    }
    .testimonial-text-box {
        position: relative;
    }

    .testimonial-text-box p {
        font-size: 1.5vw;
    }

    .person-details {
        font-size: 1vw;
    }
}

@media (max-width: 768px) {
    .testimonial-section h2 {
        font-size: 7.5vw;
        justify-content: center;
        justify-items: center;
    }

    .testimonial-text-carousel {
        padding-right: 0px;
        flex-direction: column;
    }

    .testimonial-container {
        
        max-width: 100%;
        align-items: center;
    }
    

    .testimonial-content {
        flex-direction: column;
    }

    .testimonial-text-box p {
        font-size: 2.5vw;
    }

    .person-details {
        font-size: 1.5vw;
    }
}
/*FAQ section*/
/* Base styles */
.faq-section {
    padding: 40px;
    background-color: #FFFBF2;
}

.faq-container {
    max-width: 800px;
    margin: 0 auto;
}
.faq-container h2 {
    font-size: 3vw;
    margin-bottom: 2vw;
    font-family: "Spectral", serif;
}

.faq-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.faq-question {
    width: 100%;
    text-align: left;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1vw;
    font-family: "Spectral", serif;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.faq-question:after {
    content: '\002B'; /* Plus sign */
    font-size: 1.5vw;
    font-weight: 1000;
    color: #00B295;
    float: right;
    transition: transform 0.3s ease;
}

.faq-question.active:after {
    content: '\2212'; /* Minus sign */
    font-weight: bolder;
    color: #FF4E00;
    transform: rotate(180deg);
}

.faq-answer {
    display: none;
    padding: 10px;
    font-family: "Karla", sans-serif;
    background-color: #f1f1f1;
    font-size: 1em;
    line-height: 1.6em;
}


/* Mobile View (below 1024px) */
@media (max-width: 1024px) {
    .faq-section h2 {
        font-size: 5.5vw;
        padding: 0
    }
    .faq-question {
        font-size: 2.2vw;
    }
    .faq-answer {
        font-size: 1.9vw;
    }
    .faq-question:after {
        font-size: 3vw;
    }

}
/* Tablet View (below 768px) */
@media (max-width: 768px) {
    .faq-section h2 {
        font-size: 7.5vw;
        padding: 0px;
    }
    .faq-question {
        font-size: 3vw;
    }
    .faq-answer {
        font-size: 2.2vw;
    }
    .faq-question:after {
        font-size: 3.5vw;
    }
    
}


/*contact*/
.contact-section {
    padding: 50px 20px;
    background-color: #011627;
}

.contact-container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    color: #FFFBF2;
}

.contact-container h2 {
    font-size: 3vw;
    margin-bottom: 2vw;
    font-family: "Spectral", serif;
    color: #FFFBF2 !important;
}

.contact-container p {
    font-size: 1vw;
    margin-bottom: 40px;
}

.contact-info {
    display: flex;
    justify-content: space-between; /* Ensure equal spacing between items */
    gap: 20px; /* Add space between boxes */
    flex-wrap: wrap; /* Ensure wrapping on smaller screens */
}

.contact-item {
    flex: 1; /* Ensures all items take up equal space */
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Light divider line */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 20px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    min-height: 150px; /* Ensures all boxes have a minimum height */
    max-width: 45%; /* Limit width to 45% on larger screens */
}

.contact-item h3 {
    font-size: 1.2vw;
    margin-bottom: 10px;
    font-family: "Spectral", serif;
}

.contact-item p {
    font-size: 1vw;
    font-family: "Karla", sans-serif;
}

.contact-list {
    list-style: none;
    padding-left: 0;
    text-align: left;
    font-family: 'Karla', sans-serif;
}

.contact-list li {
    margin-bottom: 0.5em;
}

.contact-list a {
    color: #fffbf2;
    text-decoration: none;
}

.contact-list a:hover {
    text-decoration: underline;
    color: #FF4E00;
}

.social-media {
    margin-top: 30px;
}

.social-media h3 {
    font-size: 1.2vw;
    margin-bottom: 10px;
    font-family: "Spectral", serif;
}

.social-links a {
    margin: 0 10px;
    font-size: 2em;
    color: #FF4E00;
}

.social-links a:hover {
    color: #ffd700;
}

.copy-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-left: 5px;
}

.copy-btn i {
    color: #FF4E00; /* Your theme color */
}

.copy-btn:hover i {
    color: #ffd700; /* Your hover color */
}

.social-links i {
    font-size: 2vw;
    transition: transform 0.3s ease;
}

.social-links i:hover {
    transform: scale(1.1);
}

@media (max-width: 1024px) {
    .contact-container h2 {
        font-size: 5.5vw; /* Reduce heading size further */
    }

    .contact-container p {
        font-size: 2vw; /* Reduce paragraph size */
    }

    .social-media h3 {
        font-size: 1.5vw; /* Adjust heading size */
    }

    .social-links a {
        font-size: 1.5em; /* Smaller icons for very small screens */
    }

    .contact-item {
        padding: 15px; /* Reduce padding on mobile */
    }
}

/* Mobile responsiveness (below 768px) */
@media (max-width: 768px) {
    .contact-info {
        flex-direction: column; /* Stack the contact items vertically */
    }

    .contact-item {
        max-width: 100%; /* Ensure full width for contact items */
        margin-bottom: 20px; /* Add space between stacked items */
    }

    .contact-container h2 {
        font-size: 7.5vw; /* Reduce font size */
    }

    .contact-container p {
        font-size: 3vw;
        margin-bottom: 2vw;
    }

    .contact-item h3 {
        font-size: 4.5vw; /* Adjust heading size */
        padding: 0px;
        margin-bottom: 0vw;
    }
    .social-media h3 {
        font-size: 3vw; /* Adjust heading size */
    }

    .social-links a {
        font-size: 1.3em; /* Slightly reduce icon size */
    }

    .social-links i {
        font-size: 1.3em;
    }
}

/* Mobile responsiveness (below 600px) */



.map iframe {
    width: 100%;
    max-width: 600px;
    height: 450px;
    border: 0;
    margin: 0 auto;
}
